
@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300&family=Poppins:wght@300&display=swap');


body {
  font-family: 'Poppins';
}
.menu-shadow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.nft-price {
  writing-mode: vertical-rl;
  text-orientation: upright;
}
.active-dot::after {
  content: "◾";
  text-align: center;
  height: 15px;
}

.market-tap > div {
  color: black;
  background-color: white;
  border: 2px black solid;
}

.market-tap-active > div {
  color: white;
  background-color: black;
  border: 2px black solid;
}

.card-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.primary-nft {
  aspect-ratio: 1;
}

/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}